{% extends 'catalog/index.html' %}
{% load my_tags %}
{% block content %}
<div class="pricing-header px-3 py-3 pt-md-5 pb-md-4 mx-auto text-center">
    <h1 class="display-4">Магазин Шестерочка</h1>
    <h2 class="display-4">Продукты</h2>
</div>
<div class="container">
    <div class="row text-center">
        {% for prod in object_list %}
        <div class="col-3">
            <div class="card mb-4 box-shadow">
                <div class="card-header">
                    <h4 class="my-0 font-weight-normal">{{ prod.name_product }}</h4>
                </div>
                <div class="card-body">
                    <h1 class="card-title pricing-card-title">{{ prod.price }} руб/кг</h1>
                    <img src="{{ prod.image_product | media_filter}}" class="img-thumbnail">
                    <ul class="list-unstyled mt-3 mb-4 text-start m-3">
                        <li>{{ prod.category_id }}</li>
                        <li>ВЕРСИЯ : {{ prod.active_version }}</li>
                        <li>{{ prod.description | truncatechars:10 }}</li>
                    </ul>
                    <a class="btn btn-primary" href="{% url 'catalog:product_detail' prod.pk %}"
                       role="button">Подробно</a>
                </div>
            </div>
        </div>
        {% endfor %}
    </div>
    {% endblock %}
